@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:where(.dark, .dark *));

/* =========================================================
   Theme
   ========================================================= */

@theme {
    /* -------------------------
     Custom Colors
     ------------------------- */

    --color-white-1: #ffffff;
    --color-white-2: rgb(255 255 255 / 72%);
    --color-white-3: rgb(255 255 255 / 40%);
    --color-white-4: rgb(255 255 255 / 64%);
    --color-white-5: rgb(255 255 255 / 80%);

    --color-black-1: #15171c;
    --color-black-2: #222429;
    --color-black-3: #101114;
    --color-black-4: #252525;
    --color-black-5: #2e3036;
    --color-black-6: #24272c;

    --color-orange-1: #f97535;

    --color-gray-1: #71788b;

    /* -------------------------
     Custom Breakpoint
     ------------------------- */

    --breakpoint-2xl: 1400px;

    /* -------------------------
     Custom Animations
     ------------------------- */

    --animate-accordion-down: accordion-down 0.2s ease-out;

    --animate-accordion-up: accordion-up 0.2s ease-out;

    /* -------------------------
     Accordion Keyframes
     ------------------------- */

    @keyframes accordion-down {
        from {
            height: 0;
        }

        to {
            height: var(--radix-accordion-content-height);
        }
    }

    @keyframes accordion-up {
        from {
            height: var(--radix-accordion-content-height);
        }

        to {
            height: 0;
        }
    }
}

/* =========================================================
   Base Styles
   ========================================================= */

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        background-color: #101114;
    }
}

/* =========================================================
   Custom Utilities
   ========================================================= */

@utility input-class {
    @apply text-16 placeholder:text-16 rounded-[6px] border-none bg-black-1 text-gray-1 placeholder:text-gray-1;
}

@utility podcast_grid {
    @apply grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4;
}

@utility right_sidebar {
    @apply sticky top-0 right-0 flex w-[310px] flex-col overflow-y-hidden border-none bg-black-1 px-[30px] pt-8 max-xl:hidden;
}

@utility left_sidebar {
    @apply sticky top-0 left-0 flex w-fit flex-col justify-between border-none bg-black-1 pt-8 text-white-1 max-md:hidden lg:w-[270px] lg:pl-8;
}

@utility generate_thumbnail {
    @apply mt-[30px] flex w-full max-w-[520px] flex-col justify-between gap-2 rounded-lg border border-black-6 bg-black-1 px-2.5 py-2 md:flex-row md:gap-0;
}

@utility image_div {
    @apply mt-5 flex h-[142px] w-full cursor-pointer flex-col items-center justify-center gap-3 rounded-xl border-[3.2px] border-dashed border-black-6 bg-black-1;
}

@utility carousel_box {
    @apply relative flex aspect-square h-fit w-full flex-none cursor-pointer flex-col justify-end rounded-xl border-none;
}

@utility button_bold-16 {
    @apply text-[16px] font-bold text-white-1 transition-all duration-500;
}

@utility flex-center {
    @apply flex items-center justify-center;
}

@utility text-12 {
    @apply text-[12px] leading-normal;
}

@utility text-14 {
    @apply text-[14px] leading-normal;
}

@utility text-16 {
    @apply text-[16px] leading-normal;
}

@utility text-18 {
    @apply text-[18px] leading-normal;
}

@utility text-20 {
    @apply text-[20px] leading-normal;
}

@utility text-24 {
    @apply text-[24px] leading-normal;
}

@utility text-32 {
    @apply text-[32px] leading-normal;
}

/* =========================================================
   Custom Scrollbars
   ========================================================= */

.custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #15171c;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #222429;
    border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* =========================================================
   Hide Scrollbar
   ========================================================= */

/* Chrome, Safari, Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* IE, Edge, Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* =========================================================
   Glassmorphism
   ========================================================= */

.glassmorphism {
    background: rgb(255 255 255 / 25%);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.glassmorphism-auth {
    background: rgb(6 3 3 / 71.1%);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.glassmorphism-black {
    background: rgb(18 18 18 / 64%);
    backdrop-filter: blur(37px);
    -webkit-backdrop-filter: blur(37px);
}

/* =========================================================
   Clerk Overrides
   ========================================================= */

.cl-socialButtonsIconButton {
    border: 2px solid #222429;
}

.cl-button {
    color: white;
}

.cl-socialButtonsProviderIcon__github {
    filter: invert(1);
}

.cl-internal-b3fm6y {
    background: #f97535;
}

.cl-formButtonPrimary {
    background: #f97535;
}

.cl-footerActionLink {
    color: #f97535;
}

.cl-headerSubtitle {
    color: #c5d0e6;
}

.cl-logoImage {
    width: 10rem;
    height: 3rem;
}

.cl-internal-4a7e9l {
    color: white;
}

.cl-userButtonPopoverActionButtonIcon {
    color: white;
}

.cl-internal-wkkub3 {
    color: #f97535;
}
